body{
  background-image: url("https://freefrontend.com/assets/img/css-animated-backgrounds/Animated-Background.png");
  background-size: cover;
  
}

.button{
  width: 40px;
  height: 40px;
  font-size: 1.5em;
  font-family: 'Rajdhani', sans-serif;
  border: 0;
}

.frame{
  position: absolute;
  left: 41%;
  top: 31%;
  height: 225px;
  width: 175px;
}

.text{
  height: 35px;
  width: 123px;
  font-family: 'Rajdhani', sans-serif;
  font-size: 1em;
}

p{
  text-align: center;
  font-family: 'Kalam', cursive;
  font-size: 2em;
}
